html, body {
    font-family: Inter, Roboto, sans-serif;
    /* margin: 0; */
    margin: 0 80px;
    /* padding: 0; */
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100%;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font: Cardo, "Times New Roman", "Times" serif; */
    padding: 4px 16px;
    /* background-color: lightblue; */
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); */
    /* position: sticky; */
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}


.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.logo {
    font-family: Cardo, "Times New Roman", serif;
}

.content {
    /* flex: 1; */
    padding: 20px;
    display: flex;
    margin-top: 70px;

}



.footer {
    text-align: center;
    margin-top: auto;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
    flex-shrink: 0;

}


img {
    width: 500px;
    border-radius: 16px;
}

button, .buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 15px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    font-family: Inter, Roboto, sans-serif;
    /* align-content: center; */
    margin-top: 40px;
}

.places, .maps {
    background-color: black;
    color: white;
    border: none;
    /* border-width: 1.5px;
    border-color: black; */
    border-radius: 5px;
}

.explore {
    border-color: black;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}

.tagline {
font-family: Cardo, "Times New Roman", "Times", serif !important;
font-weight: 400;
font-size: 38px;
margin-right: 50px;
}


.quote {
    background-color: #E5E7EB;
    padding: 70px 190px;
    font-style: italic;
    font-weight: lighter;
    font-size: 32px;
    font-family: Inter, Roboto, sans-serif;
    margin: 50px 0;
}

.quoteauthor {
    text-align: right;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}