body {
    font-family: Cardo, "Times New Roman", serif;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    /* background-color: lightblue; */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;

}


.menu {
    gap: 20px;
    font-size: large;
    font-weight: bold;
}


ul li a {
    gap: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}